.dropdown-content {
    display: none;
    position: absolute;
    right: -1rem;
    top: 3rem;
    background-color: white;
    border-radius: 0.8rem 0 0 0.8rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-direction: column;
    width: 180px;
}

.dropdown-content a {
    padding: 1rem;
    color: var(--dark-green-font);
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--light-grey);
}

.dropdown-content.show {
    display: flex;
}

.green-button {
    color: white;
    background-color: var(--light-green-font);
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 540;
    transition: background-color 0.3s ease;
}

.green-button:hover {
    background-color: var(--hover-light-green-font);
}