button {
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: -1rem;
    top: 3rem;
    background-color: white;
    border-radius: 0.8rem 0 0 0.8rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-direction: column;
    width: 180px;
    z-index: 9999;
}

.dropdown-content a {
    padding: 1rem;
    color: var(--dark-green-font);
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--light-grey);
}

.dropdown-content.show {
    display: flex;
}

.green-button {
    color: white;
    background-color: var(--light-green-font);
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 540;
    text-align: center;
    transition: background-color 0.3s ease;
}

.green-button:hover {
    background-color: var(--hover-light-green-font);
}

.orange-button {
    color: white;
    background-color: var(--orange-button);
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 540;
    text-align: center;
    transition: background-color 0.3s ease;
}

.orange-button:hover {
    background-color: var(--hover-orange-button);
}

.big-green-button {
    color: white;
    background-color: var(--light-green-font);
    padding: 1.0rem 1.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 540;
    transition: background-color 0.3s ease;
    text-align: center;
    width: fit-content;
}

.big-green-button:hover {
    background-color: var(--hover-light-green-font);
}

.red-button {
    color: white;
    background-color: var(--red);
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 540;
    text-align: center;
    transition: background-color 0.3s ease;
}

.red-button:hover {
    background-color: var(--hover-red);
}

.white-button {
  background-color: white;
  outline: 0.1rem solid var(--border-green);
  outline-offset: -0.1rem;
  color: var(--dark-green-font);
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 540;
  transition: background-color 0.3s ease;
}

.white-button:hover {
    background-color: var(--light-grey);
}

.border-button {
  background-color: white;
  outline: 0.1rem solid var(--border-green);
  outline-offset: -0.1rem;
  color: var(--dark-green-font);
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 540;
  transition: background-color 0.3s ease;
}

.border-button:hover {
    background-color: var(--light-grey);
}

.red-border-button {
  background-color: white;
  outline: 0.1rem solid var(--red);
  outline-offset: -0.1rem;
  color: var(--dark-green-font);
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 540;
  transition: background-color 0.3s ease;
}

.red-border-button:hover {
    background-color: lightgoldenrodyellow;
}

.sign-out-button {
  display: flex;
  justify-content: center;
  background-color: white;
  outline: 0.1rem solid var(--red);
  outline-offset: -0.1rem;
  color: var(--dark-green-font);
  border: none;
  padding: 0.7rem 0.9rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  color: black;
  transition: background-color 0.3s ease;
}

.sign-out-button:hover {
    background-color: lightgoldenrodyellow;
}

.yellow-button {
  background-color: var(--light-yellow);
  color: var(--dark-green-font);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.yellow-button:hover {
  background-color: var(--hover-light-yellow);
  padding: 1.2rem 1.7rem;
}

.white-area {
    min-height: 100px;
    background-color: white;
    outline: 0.1rem solid var(--border-green);
    outline-offset: -0.1rem;
    color: var(--dark-green-font);
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-family: Roboto, "san-serif";
    transition: ouline-color 0.3s ease;
    text-align: justify;
}

.white-area:hover {
    outline-color: var(--light-green-font);
}

.white-area:focus {
    outline-color: var(--dark-green);
}

input[type="text"], input[type="password"] {
    background-color: white;
    outline: 0.1rem solid var(--border-green);
    outline-offset: -0.1rem;
    color: var(--dark-green-font);
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    font-family: Roboto, "san-serif";
    transition: ouline-color 0.3s ease;
}

input[type="text"]:hover, input[type="password"]:hover {
    outline-color: var(--light-green-font);
}

input[type="text"]:focus, input[type="password"]:focus {
    outline-color: var(--dark-green);
}

.near-button-row input[type="text"] {
    flex: 1;
    width: 100%;
}

input[type="file"] {
  width: 100%;
  box-sizing: border-box;
}

input[type="file"]::file-selector-button {
    color: white;
    background-color: var(--light-green-font);
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 540;
    transition: background-color 0.3s ease;
}

input[type="file"]::file-selector-button:hover {
    background-color: var(--hover-light-green-font);
}

select {
    background-color: white;
    outline: 0.1rem solid var(--border-green);
    outline-offset: -0.1rem;
    color: var(--dark-green-font);
    border: none;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    font-family: Roboto, "san-serif";
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    transition: ouline-color 0.3s ease;
}

select:hover {
    outline-color: var(--light-green-font);
}

select:focus {
    outline-color: var(--dark-green);
}

select option {
  background-color: white;
  color: var(--dark-green-font);
  border-color: var(--dark-green);
}