.stage-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.no2-stage,
.no2-stage-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: silver;
    border-radius: 1rem;
    height: 20rem;
    width: 100%;
    transition: scale 0.3s ease;
}

.no2-stage-mobile {
    display: none;
}

.mobile-wrap {
    width: 100%;
}

.no1-stage {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--pending-orange-border);
    border-radius: 1rem;
    height: 25rem;
    width: 100%;
    transition: scale 0.3s ease;
}

.no3-stage {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    border-radius: 1rem;
    height: 17rem;
    width: 100%;
    transition: scale 0.3s ease;
}

.no1-stage:hover,
.no2-stage:hover,
.no2-stage-mobile:hover,
.no3-stage:hover {
    scale: 1.02;
}

.stage-container span {
    color: var(--dark-green-font);
}

.place {
    font-weight: bold;
}

.stage-points {
    font-size: 1.5rem;
    font-weight: bold;
}

.leaderboard {
    border: solid 0.1rem var(--border-green);
    border-radius: 0.5rem;
}

.leaderboard-heading {
    padding: 1rem;
    color: white;
    font-weight: bold;
    background-color: var(--light-green-font);
    border-radius: 0.4rem 0.4rem 0 0;
}

.leaderboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-bottom: solid 0.05rem rgb(228, 228, 228);
}

.leaderboard-row span {
    font-weight: bold;
    color: var(--dark-green-font)
}

.leaderboard-row.first {
    background-image: linear-gradient(
        to bottom,
        #fff9e6,
        white
    );
}

.leaderboard-row.first .rank {
    color: var(--pending-orange-border);
}

.leaderboard-row.second {
    background-image: linear-gradient(
        to bottom,
        #f0f0f0,
        white
    );
}

.leaderboard-row.second .rank {
    color: silver;
}

.leaderboard-row.third {
    background-image: linear-gradient(
        to bottom,
        #fff0e6,
        white
    );
}

.leaderboard-row.third .rank {
    color: chocolate;
}

.leaderboard-row.last {
    border-bottom: none;
    border-radius: 0 0 0.5rem 0.5rem;
}

.rank-name {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
}

@media (max-width: 768px) {
    .stage-container {
        flex-direction: column;
    }

    .no1-stage {
        height: 15rem;
    }

    .no3-stage {
        height: 15rem;
    }

    .no2-stage {
        display: none;
    }

    .no2-stage-mobile {
        display: flex;
        height: 15rem;
    }

    .mobile-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    .no2-stage-mobile .stage-points,
    .no3-stage .stage-points {
        font-size: 1.2rem;
    }
}
