body {
    accent-color: var(--dark-green);
    background: linear-gradient(270deg, #2A4120 0%, #4E793C 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2, p, span {
    margin-block: 0;
}

input,
button,
textarea {
    font: inherit
}

.right-contents {
    border-radius: 2rem;
    background: #FFF;
    box-shadow: 0 0 18.5px 10px #F90 inset;
    max-width: 100%;
    min-height: 80vh;
}

.wrapper {
    padding: 2rem;
    border-radius: 1rem;
    display: grid;
    gap: 3rem;
    min-height: fit-content;
    grid-template-rows: auto auto;
    place-items: center;
    @media (width > 40rem) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 0 auto;
    width: 100%;
}

.big-heading {
    color: #FFFFFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.75rem; 
}

.small-heading {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-style: normal;
    font-weight:200;
}

.title-intro {
    display: flex;
    flex-direction: column;
}

.input-box input{
    /* display: flex;
    flex-direction: row; */
    min-width: 70%;
    font-size: 1rem;
    border: 0.1rem solid #EAEAEA;
    align-self: stretch;
    border-radius: 1.5rem;
    background-color: transparent;
    padding: 1rem 1.5rem;
}

.input-box input::placeholder {
    font-size: 1rem;
    color: #D6E6C2;
    text-align: left;
}

.input-area {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin: 0rem 0rem 3rem 0rem;
    max-width: 100%;
}

.remember {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
} 

[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #D9D9D9;
    appearance: none;
    flex-shrink: 0;
} 

.remember span {
    color: #D9D9D9;
    font-size: 1rem;
}

button[type="submit"] {
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.75rem 2.5rem;
    width: 10rem;
    height: 3rem;
    color: #2A7B9B;
    cursor: pointer;
    border-bottom: 2px solid #2A7B9B;
    border-right: 2px solid #2A7B9B;
    border-top: 2px solid white;
    border-left: 2px solid white;
    transition-duration: 2s;
    transition-property: border-top, border-left, border-bottom, border-right,
        box-shadow;
}

button[type="submit"]:hover {
    border-top: 2px solid #2A7B9B;
    border-left: 2px solid #2A7B9B;
    border-bottom: 2px solid #57C785;
    border-right: 2px solid #57C785;
    box-shadow: rgba(237, 221, 83,0.4) 5px 5px, rgba(237, 221, 83, 0.3) 10px 10px,
        rgba(237, 221, 83, 0.2) 15px 15px;
}
