*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html, body {
    height: 100%;
} */

.big-heading {
    color: #000;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 4.75rem; 
}

.small-heading {
    color: #000;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.5rem; 
}

.title-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1rem;
    align-self: stretch;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0.625rem 1.0625rem;
    align-items: flex-start;
    gap: 0.625rem;
    background: linear-gradient(270deg, #2A4120 0%, #4E793C 100%);
}

.input-box input{
    font-size: 1.5rem;
    border: 0.5rem solid #000;
    /* outline: none; */
    /* border-bottom: 0.1rem solid #000;  */
}

.input-box input::placeholder {
    font-size: 1rem;
}

.input-area {
    /* height:10rem;
    width:100%; */
    /* box-sizing: content-box; */
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    /* flex-wrap: wrap; */
}