.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.page-btn {
    background-color: white;
    outline: 0.1rem solid var(--border-green);
    outline-offset: -0.1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-btn:hover {
    background-color: var(--light-grey);
}

.page-btn.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.icon-pagination {
    width: 1.2rem;
    height: auto;
    object-fit: cover;
    object-position: center;
}
