:root {
    --padding-medium: 3rem 2rem;
    --border-style: 0.1rem solid var(--border-green);
    --border-radius-style: 2rem;
    --padding-small: 0.75rem 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
   display: flex; 
   flex-direction: column;
   min-height: 100vh;
   margin: 3rem;
   gap: 2rem;
}

.mobile-list {
    display: none;
}

.desktop-table {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .additional-info-column {
        order: -1;
    }

    .main-contents {
        flex: 0;
    }

    .mobile-list {
        display: flex;
        flex-direction: column;
    }

    .desktop-table {
        display: none;
    }

    .wrapper {
        padding: var(--padding-small);
        margin: 0.5rem;
    }
}

.icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.icon-text-2 span {
    font-size: 1rem;
    color: black;

}

.icon-text-3 span {
    font-size: 1rem;
    color: white;

}

.main-contents {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 2rem;
    flex: 1;
}

.settings-column {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 2rem;
}

.additional-info-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: max-content;
    border: var(--border-style);
    border-radius: var(--border-radius-style);
    padding: var(--padding-medium);
    gap: 2rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar-card {
    display: flex;
    flex-direction: row;
    border: var(--border-style);
    border-radius: var(--border-radius-style);
    padding: var(--padding-medium);
    justify-content:flex-start;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar-img {
    width: clamp(5rem, 10vw, 6rem);
    height: auto;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    overflow: hidden;
}

.avatar-card-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
}

.avatar-card-title h1 {
    color: var(--darkest-green);
}

.avatar-card-title p {
    color: var(--dark-green);
}

.avatar-title-btn {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    justify-content: center;
    gap: 1.5rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.profile-details-card {
    display: flex;
    flex-direction: column;
    border: var(--border-style);
    border-radius: var(--border-radius-style);
    padding: var(--padding-medium);
    gap: 1rem;
    flex: 1;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(--dark-green-font);
}

.profile-details-card form {
    flex: 1;
    flex-direction: column;
    display: flex;
    gap: 1.5rem;
    justify-content: space-evenly;
}

.btn-group {
    display: flex;
    flex-direction: row; 
    gap: 0.5rem;
}

.big-green-button {
    color: white;
    background-color: var(--light-green-font);
    padding: 1.0rem 1.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 540;
    transition: background-color 0.3s ease;
    text-align: center;
    flex: 1;
}

.big-red-button {
    color: white;
    background-color: var(--red);
    padding: 1.0rem 1.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 540;
    transition: background-color 0.3s ease;
    text-align: center;
    flex: 1;
}

.big-red-button:hover {
    background-color: var(--hover-red);
}

input[type="text"], input[type="password"] {
    background-color: white;
    outline: 0.1rem solid var(--border-green);
    outline-offset: -0.1rem;
    color: var(--dark-green-font);
    border: none;
    padding: 1.5rem;
    border-radius: 1.5rem;
    font-family: Roboto, "san-serif";
    transition: ouline-color 0.3s ease;
}

input[type="text"]:hover, input[type="password"]:hover {
    outline-color: var(--light-green-font);
}

input[type="text"]:focus, input[type="password"]:focus {
    outline-color: var(--dark-green);
}

.detail-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-group span {
    font: 800;
}

.additional-info-column h1{
    margin-bottom: 0.5rem;
}

.results {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

th, td {
    border-right: none;
}

td {
    padding: var(--padding-small);
    border-bottom: 1px solid #e0e0e0;
    font-size: 1rem;
}

th {
    text-align: left;
    padding: var(--padding-small);
    border-bottom: 2px solid #ccc ;
    background: var(--dark-green);
    color: var(--transparent-green);
}

tr:nth-child(even) {
    background-color: var(--lightest-green);
}

tr:nth-child(odd) {
    background: var(--transparent-green);
}

.icon-buttons {
    width: 1.2rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    overflow: hidden;
}

.add-icon {
    width: 1.5rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    overflow: hidden;
}

.icon-name {
    width: 2.5rem;
    height: auto;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid var(--dark-green);
}

.icon-text-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.icon-text-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.icon-text-2-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.border-button {
  background-color: white;
  outline: 0.1rem solid var(--border-green);
  outline-offset: -0.1rem;
  color: var(--dark-green-font);
  border: none;
  padding: 0.3rem 0.4rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 540;
  transition: background-color 0.3s ease;
}

.border-button:hover {
    background-color: var(--light-grey);
}

.red-border-button {
  background-color: white;
  outline: 0.1rem solid var(--red);
  outline-offset: -0.1rem;
  color: var(--dark-green-font);
  border: none;
  padding: 0.3rem 0.4rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 540;
  transition: background-color 0.3s ease;
}

.red-border-button:hover {
    background-color: lightgoldenrodyellow;
}

/* Left part */
.search-bar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 0 1 1;
    flex-wrap: wrap;
    /* flex: 1; */
}

/* Right part */
.add-user {
    display: flex;
    flex-direction: row;
    flex: 0 1 1;
    /* flex: 1; */
}

.add-user button {
    padding: var(--padding-small) ;
    font-size: 1rem;
    flex: 0;
    /* width: clamp(5rem, 15vw, 15rem); */
}

.top-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.search-bar input[type="text"] {
    padding: 0.5rem 2rem;
    border-radius: 0.75rem;
    flex: 2;
}

.search-bar select {
    padding: 0.5rem 2rem;
    border-radius: 0.75rem;
    flex: 1;
}

