.profile-card {
  display: grid;
  place-items: center;
  text-align: center;
}

.point-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;
  background-image: linear-gradient(
    to bottom,
    var(--light-yellow),
    white
  );
  border: 0.1rem solid var(--pending-orange-border);
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: fit-content;
  min-width: 280px;
  text-align: center;
  margin: 0 auto;
}

.para {
  font-size: 12px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0.1rem solid var(--border-green);
  border-radius: 0.8rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card-img {
    height: 12rem;
    width: auto;
    border-radius: 0.6rem 0.6rem 0 0;
}

.quiz-points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 700px;
}

.quiz-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  text-align: left;
}

.selection-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.answer-button {
  background-color: white;
  outline: 0.1rem solid var(--border-green);
  outline-offset: -0.1rem;
  color: var(--dark-green-font);
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-weight: 540;
  text-align: left;
  transition: background-color 0.3s ease;
}

.answer-button input[type="radio"] {
    display: none;
}

.answer-button:hover {
  background-color: var(--light-grey);
  font-weight: bold;
}

.answer-button:has(input[type="radio"]:checked) {
  background-color: var(--border-green);
  color: white;
  font-weight: bold;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--transparent-green);
  padding: 1.2rem;
  border-radius: 0.5rem;
}

.avatar-card {
    display: flex;
    flex-direction: row;
    border: var(--border-style);
    border-radius: var(--border-radius-style);
    padding: var(--padding-medium);
    justify-content:flex-start;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avatar-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
    overflow: hidden;
}