.report-container {
    max-width: 800px;
    margin: 0 auto;
}

.summary-row {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.summary-card {
    background: white;
    padding: 1rem;
    border: 0.1rem solid var(--border-green);
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
}

.main-report-card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: white;
    padding: 1.8rem;
    border-radius: 1rem;
    border: 0.1rem solid var(--border-green);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

.report-title {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex-direction: row;
    width: 100%;
}

.details-box {
    background-color: var(--transparent-green);
    padding: 1.5rem;
    border-radius: 0.8rem;
    border: 0.1rem solid var(--border-green);
    color: var(--dark-green-font);
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
    align-items: center;
}

.brightness-badge span {
    background: #fff;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 5px;
}

.cost-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    background-color: white;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    flex-wrap: wrap;;
    padding: 1.2rem;
}

.label {
  font-size: 0.8rem;
  color: #555;
  margin: 0;
}

.value {
  font-size: 1.1rem;
  font-weight: bold; 
  color: var(--dark-green-font)
}

.sub-value {
  font-weight: 500;
}

.stats-text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.brightness {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: auto;
    background-color: var(--border-green);
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
}